<div class="flex flex-col w-full p-6 bg-white border border-gray-200 rounded-lg shadow">
  <img class="rounded-full w-40 h-40 mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_kSSoomJ9hiFXmiF2RdZlwx72Y23XsT6iwQ&s" alt="avatar">
  <div class="mt-5">
    <div class="flex items-center mb-3">
      <i class="fa-regular fa-envelope text-gray-600"></i>
      <span class="text-gray-500 ml-2">
        <%= @user.email %>
      </span>
    </div>
    <div class="flex items-center mb-3">
      <i class="fa-regular fa-user text-gray-600"></i>
        <%= render "users/follower_count" %>
    </div>
    <div class="flex items-center mb-3">
      <i class="fa-regular fa-square-plus text-gray-600"></i>
      <span id="following_count"  class="text-gray-500 ml-2">
        <%= pluralize(@user.following.count, t(".following")) %>
      </span>
    </div>
    <div class="flex items-center mb-3">
      <i class="fa-regular fa-clipboard text-gray-600"></i>
      <span id="post_count" class="text-gray-500 ml-2">
        <%= pluralize(@user.posts.count, t(".post")) %>
      </span>
    </div>
    <%= render "follow_form" %>
  </div>
</div>
