<%= form_with model: @post do |f| %>
  <div class="flex flex-col mx-auto w-2/5">
    <div class="mb-5">
      <%= f.label :title, t(".post_title"), class: "required block mb-2 text-md font-medium text-gray-900" %>
      <%= f.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700" %>
      <span class="text-sm text-red-600"><%= show_errors @post, :title %></span>
    </div>
    <div class="mb-5">
      <%= f.label :content, t(".post_content"), class: "required block mb-2 text-md font-medium text-gray-900" %>
      <%= f.text_area :content, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700" %>
      <span class="text-sm text-red-600"><%= show_errors @post, :content %></span>
    </div>
     <div class="mb-5">
      <%= f.label :status, t(".view_mode"), class: "required block mb-2 text-md font-medium text-gray-900" %>
      <%= f.select :status, Post.statuses.keys.map{ |key| [key.humanize, key] }, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      <span class="text-sm text-red-600"><%= show_errors @post, :status %></span>
    </div>
    <%= f.submit yield(:button_text), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center " %>
  </div>
<% end %>
